In [1]:
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
test2 = pd.read_csv('model2_encoded.csv')

X = test2.drop(labels='Fatal (Y/N)', axis=1)

y = test2['Fatal (Y/N)']
from sklearn.model_selection import train_test_split
test_size = 0.2
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=1)

In [3]:
from sklearn.svm import SVC 
clf = SVC(kernel='rbf')
clf.fit(X_train, y_train)
y_pred=clf.predict(X_test)

In [4]:
 # Model Accuracy
print('Test Acc: %.3f' % clf.score(X_test, y_test))

Test Acc: 0.806

In [5]:
from sklearn import metrics
print('Train Accuracy:', metrics.accuracy_score(y_train, clf.predict(X_train)))
print('Train Precision:', metrics.precision_score(y_train, clf.predict(X_train), average='macro'))
print('Train Recall:', metrics.recall_score(y_train, clf.predict(X_train), average='macro'))
print("Test Accuracy:",metrics.accuracy_score(y_test, y_pred))
print('Test Precision:', metrics.precision_score(y_test, y_pred, average='macro'))
print('Test Recall:', metrics.recall_score(y_test, y_pred, average='macro'))

Train Accuracy: 0.8077762348740329

C:\Users\15309\anaconda3\envs\Python_Data\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Train Precision: 0.2574615141991645
Train Recall: 0.29315723003824107
Test Accuracy: 0.8057097541633624
Test Precision: 0.38650530650338316
Test Recall: 0.43587345970416635

C:\Users\15309\anaconda3\envs\Python_Data\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [6]:
test2

      Area  Activity  Sex   Age  Injury Fatal (Y/N)  Time  Species
0      158       830     0   50    2407           N   219      1283
1      277      1109     0    2    2215           N   284      1273
2      315      1153     1   40    1407           N    35      1273
3      497      1153     1   80    2217           N   284       235
4      195       579     1   80    1706           N   284      1227
...    ...       ...   ...  ...     ...         ...   ...       ...
6297   806       274     1   80     670           Y   284      1273
6298   806       843     1   80     670           Y   284      1273
6299   508      1190     1   80     670           Y   284      1273
6300   763      1409     1   80     670           Y   284      1273
6301   247      1190     1    6    1044           Y   284      1273

[6302 rows x 8 columns]