In [2]:
pip install plotly_express

Requirement already satisfied: plotly_express in /Users/cipolle/opt/anaconda3/envs/project3/lib/python3.6/site-packages (0.4.1)
Requirement already satisfied: pandas>=0.20.0 in /Users/cipolle/opt/anaconda3/envs/project3/lib/python3.6/site-packages (from plotly_express) (1.1.5)
Requirement already satisfied: statsmodels>=0.9.0 in /Users/cipolle/opt/anaconda3/envs/project3/lib/python3.6/site-packages (from plotly_express) (0.12.1)
Requirement already satisfied: plotly>=4.1.0 in /Users/cipolle/opt/anaconda3/envs/project3/lib/python3.6/site-packages (from plotly_express) (4.14.0)
Requirement already satisfied: patsy>=0.5 in /Users/cipolle/opt/anaconda3/envs/project3/lib/python3.6/site-packages (from plotly_express) (0.5.1)
Requirement already satisfied: numpy>=1.11 in /Users/cipolle/opt/anaconda3/envs/project3/lib/python3.6/site-packages (from plotly_express) (1.19.3)
Requirement already satisfied: scipy>=0.18 in /Users/cipolle/opt/anaconda3/envs/project3/lib/python3.6/site-packages (from plotly_express) (1.5.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/cipolle/opt/anaconda3/envs/project3/lib/python3.6/site-packages (from pandas>=0.20.0->plotly_express) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/cipolle/opt/anaconda3/envs/project3/lib/python3.6/site-packages (from pandas>=0.20.0->plotly_express) (2020.4)
Requirement already satisfied: retrying>=1.3.3 in /Users/cipolle/opt/anaconda3/envs/project3/lib/python3.6/site-packages (from plotly>=4.1.0->plotly_express) (1.3.3)
Requirement already satisfied: six in /Users/cipolle/opt/anaconda3/envs/project3/lib/python3.6/site-packages (from plotly>=4.1.0->plotly_express) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import sklearn
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
import joblib
from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'matplotlib'

In [4]:
test2 = pd.read_csv('Fill_blanks.csv')
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
# label encoder categorical columns
le = LabelEncoder()  
test2['Area'] = le.fit_transform(test2['Area'])       
test2['Activity'] = le.fit_transform(test2['Activity'])       
test2['Sex '] = le.fit_transform(test2['Sex '])        
test2['Injury'] = le.fit_transform(test2['Injury'])       
test2['Age'] = le.fit_transform(test2['Age'])        
test2['Time'] = le.fit_transform(test2['Time'])
test2['Species '] = le.fit_transform(test2['Species '])
test2.to_csv('model2_encoded.csv', index=False)
test2 = pd.read_csv('model2_encoded.csv')
test2

      Area  Activity  Sex   Age  Injury Fatal (Y/N)  Time  Species
0      158       830     0   50    2407           N   219      1278
1      277      1109     0    2    2215           N   284      1268
2      315      1153     1   40    1407           N    35      1268
3      497      1153     1   80    2217           N   284       237
4      195       579     1   80    1706           N   284      1222
...    ...       ...   ...  ...     ...         ...   ...       ...
6297   806       274     1   80     670           Y   284      1268
6298   806       843     1   80     670           Y   284      1268
6299   508      1190     1   80     670           Y   284      1268
6300   763      1409     1   80     670           Y   284      1268
6301   247      1190     1    6    1044           Y   284      1268

[6302 rows x 8 columns]

In [5]:
X = test2.drop(labels='Fatal (Y/N)', axis=1)

y = test2['Fatal (Y/N)']
from sklearn.model_selection import train_test_split
test_size = 0.2
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=42)

#from sklearn.linear_model import LogisticRegression
#clf = LogisticRegression()
#clf.fit(X_train, y_train)

from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=2, random_state=42)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)

#from sklearn.tree import DecisionTreeClassifier
#clf = DecisionTreeClassifier(random_state=42)
#clf = clf.fit(X_train, y_train)
#clf.score(X_test, y_test)

#from sklearn.svm import SVC 
#clf = SVC(kernel='rbf')
#clf.fit(X_train, y_train)
#y_pred=clf.predict(X_test)

from sklearn import metrics
print('Train Accuracy:', metrics.accuracy_score(y_train, clf.predict(X_train)))
print('Train Precision:', metrics.precision_score(y_train, clf.predict(X_train), average='macro'))
print('Train Recall:', metrics.recall_score(y_train, clf.predict(X_train), average='macro'))
print("Test Accuracy:",metrics.accuracy_score(y_test, y_pred))
print('Test Precision:', metrics.precision_score(y_test, y_pred, average='macro'))
print('Test Recall:', metrics.recall_score(y_test, y_pred, average='macro'))
#prediction_df = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
#prediction_df
#prediction_df.to_csv('rf_model_2.csv', index=False)
#print(f"Training Data Score: {classifier.score(X_train, y_train)}")
#print(f"Testing Data Score: {classifier.score(X_test, y_test)}")
predictions = clf.predict(X_test)
#pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
joblib.dump(clf, 'sharkattack.joblib', compress=3)

Train Accuracy: 0.8224558619321564
Train Precision: 0.2798991367443297
Train Recall: 0.2860793138137343
Test Accuracy: 0.8326724821570183
Test Precision: 0.42896651508887973
Test Recall: 0.42791601991980344

/Users/cipolle/opt/anaconda3/envs/project3/lib/python3.6/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/cipolle/opt/anaconda3/envs/project3/lib/python3.6/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

NameError: name 'joblib' is not defined

In [ ]:
col_sorted_by_importance=clf.feature_importances_.argsort()
feat_imp=pd.DataFrame({
    'cols':X.columns[col_sorted_by_importance],
    'imps':clf.feature_importances_[col_sorted_by_importance]
})

import plotly_express as px
px.bar(feat_imp, x='cols', y='imps')

In [6]:
from sklearn.model_selection import KFold
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import numpy as np
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# create model
model = LogisticRegression()
# evaluate model
scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
# report performance
print('Accuracy: %.3f (%.3f)' % (np.mean(scores), np.std(scores)))

Accuracy: 0.742 (0.015)

In [7]:
#https://machinelearningmastery.com/repeated-k-fold-cross-validation-with-python/
from scipy.stats import sem
def evaluate_model(X, y, repeats):
	# prepare the cross-validation procedure
	cv = RepeatedKFold(n_splits=10, n_repeats=repeats, random_state=42)
	# create model
	model = clf
	# evaluate model
	scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
	return scores
# configurations to test
repeats = range(1,16)
results = list()
for r in repeats:
	# evaluate using a given number of repeats
	scores = evaluate_model(X, y, r)
	# summarize
	print('>%d mean=%.4f se=%.3f' % (r, np.mean(scores), sem(scores)))
	# store
	results.append(scores)
# plot the results
plt.boxplot(results, labels=[str(r) for r in repeats], showmeans=True)
plt.xlabel('Model Group')
plt.ylabel('Mean Score')
plt.show()
plt.savefig('box_plot.png')

>1 mean=0.8270 se=0.001
>2 mean=0.8253 se=0.002
>3 mean=0.8252 se=0.002
>4 mean=0.8256 se=0.002
>5 mean=0.8250 se=0.002
>6 mean=0.8248 se=0.002
>7 mean=0.8246 se=0.002
>8 mean=0.8244 se=0.001
>9 mean=0.8243 se=0.001
>10 mean=0.8245 se=0.001
>11 mean=0.8243 se=0.001
>12 mean=0.8242 se=0.001
>13 mean=0.8242 se=0.001
>14 mean=0.8241 se=0.001
>15 mean=0.8239 se=0.001

NameError: name 'plt' is not defined

In [9]:
area = X_test['Area']
results_df = pd.DataFrame({"Country": '', "Area": '', "Value": area, "Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
#results_df['Area'] = ''
#results_df['Country'] = ''
label_area = pd.read_csv('area_encode_labels.csv')
results_df

     Country Area  Value Prediction   Actual
0                    806          N  UNKNOWN
1                    263          N        N
2                    315          N        N
3                    807          Y        Y
4                    806          Y        Y
...      ...  ...    ...        ...      ...
1256                 712          N        N
1257                 497          N        N
1258                 315          N        N
1259                 419          Y        Y
1260                 244          N        Y

[1261 rows x 5 columns]

In [10]:
for index, row in results_df.iterrows():
    try:
        search = label_area.loc[label_area['Value'] == row['Value']]
        results_df.loc[index,['Country']] = search.iloc[0]['Country']
        results_df.loc[index,['Area']] = search.iloc[0]['Area']
    except: 
        print(index, row)

In [11]:
results_df = results_df.drop(columns=['Value'])

In [12]:
results_df

              Country                   Area Prediction   Actual
0           AUSTRALIA      Western Australia          N  UNKNOWN
1                 USA                Florida          N        N
2                 USA                 Hawaii          N        N
3             UNKNOWN          Western Banks          Y        Y
4           AUSTRALIA      Western Australia          Y        Y
...               ...                    ...        ...      ...
1256          GRENADA           St. Georges           N        N
1257        AUSTRALIA        New South Wales          N        N
1258              USA                 Hawaii          N        N
1259  SOLOMON ISLANDS  Makira-Ulawa Province          Y        Y
1260     SOUTH AFRICA  Eastern Cape Province          N        Y

[1261 rows x 4 columns]

In [13]:
results_df.to_csv('results.csv', index=False)

In [14]:
loaded_rf = joblib.load('sharkattack.joblib')

NameError: name 'joblib' is not defined

In [15]:
loaded = loaded_rf.predict(X_test)

NameError: name 'loaded_rf' is not defined

In [16]:
print("Test Accuracy:",metrics.accuracy_score(y_test, loaded))
print('Test Precision:', metrics.precision_score(y_test, loaded, average='macro'))
print('Test Recall:', metrics.recall_score(y_test, loaded, average='macro'))

NameError: name 'loaded' is not defined

In [19]:
from sqlalchemy import create_engine
password = 'Gino'
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/sharkattack")
results_df.to_sql('machine_learning_results', engine, index=False)

ValueError: Table 'machine_learning_results' already exists.